body{background-color: #5ecbb6;}

.containermayor{
  padding-top: 140px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.flex-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.flex-container > div {
  background-color: #e3e679;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.celda {
  width: 4em;
  height: 4em;
  justify-content: center;
  display: flex;
  align-items: center;
}
.celda_vacia {
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  background: red;
}
